html, body {
  margin: 0;
  padding: 0;
  background: #ffffff; 
}


.cards-section {
  background: #ffffff;
}


.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 120px; 
}


.card {
  position: sticky;
  top: 80px;                 
  height: calc(100vh - 120px); 

  border-radius: 14px;
  overflow: hidden;
  background: white;

  margin-bottom: 40px;
}

/* IMAGE */
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.card:nth-child(odd) {
  transform: translateX(0px);
}

.card:nth-child(even) {
  transform: translateX(0px);
}


@media (max-width: 768px) {
  .card {
    transform: none !important;
    height: 80vh;
  }
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
