.gallery-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 20px;
}


.gallery-image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(0.85);
}


.gallery-overlay-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 6px;
  text-decoration: none;

  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}


.gallery-overlay-text:hover {
  background: rgba(0, 0, 0, 0.45);
  transform: scale(1.05);
}
