<section class="cards-section">
    <h1>View Arts</h1>
  <div class="wrapper">
   
    <div class="card">
     <img src="/static/images/home1.png" alt="" class="img">
    </div>

    <div class="card">
      <img src="/static/images/home2.png" alt="" class="img">
    </div>

    <div class="card">
      <img src="/static/images/home3.jpg" alt="" class="img">
        </img>
    </div>

    <div class="card">
     <img src="/static/images/home4.jpg" alt="" class="img">
        </img>
    </div>

   


  </div>
</section>
